    .minimumScreen {
        width: 100%;
        background-color: rgba(155,60,60,0.9);
        text-align: center;
        color: #fff;
        position: relative;
        top: 50px;
        padding-bottom: 65px;
    }
